= form_for @album do |f|
  - if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |message|
          %li= message

  .form-group.row
    = f.label :title, class: 'col-sm-1 col-form-label col-form-label-md text-center'
    .col-md-5
      = f.text_field :title, class: 'form-control form-control-md'

  .row.photos
    = f.fields_for :photos do |photo_f|
      = render 'photo', f: photo_f

  .form-group
    = photos_field f

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
